
<div style="text-align:center" class="custom-padding-one-tb">
  <mat-label class="custom-login-header"><strong>LOGIN</strong></mat-label>
</div>
<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div fxFlex="10%"></div>
  <div fxFlex="40%" id="animate-area"></div>
  <div fxFlex="40%" fxLayout="column" fxLayoutAlign="center center" class="custom-login-form">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input [(ngModel)]="loginForm.email" matInput placeholder="Username">
        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input [(ngModel)]="loginForm.password" matInput placeholder="Password">
        <mat-icon matSuffix>vpn_key</mat-icon>
      </mat-form-field>
    </div>
    <button mat-stroked-button color="primary" (click)="login(loginForm)">Login</button>
  </div>
  <div fxFlex="10%"></div>
</div>