
.img {
    width: 100%;
    margin-bottom: 18%;
  }
  .card-picture {
    width: 23%;
    margin-bottom: 2%;
  }
  .container {
    min-height: 100%;
    width: 100%;
  }
  .search-form {
    width: 90%;
  }
  .custom-login-header {
    font-size: xx-large;
  }
  .container {
    height: 80vh;
  }
  .border-button {
    background-repeat: no-repeat;
    background-size: 
    calc(100% - 10px) 5px, /* top & bottom */
    5px calc(100% - 10px); /* right & left */
    background-image: 
    linear-gradient(0deg, #FC5185, #FC5185),
    linear-gradient(0deg, #FC5185, #FC5185),
    linear-gradient(0deg, #FC5185, #FC5185),
    linear-gradient(0deg, #FC5185, #FC5185);
    transition: all 0.6s linear;
    transition-property: background-size, background-position;
    background-position: 
    5px 5px, /* top */
    calc(100% - 5px) 5px, /* right */
    5px calc(100% - 5px), /* bottom */
    5px 5px; /* left */
    border: solid 1px #FC5185;
    margin: 0.5em; /* Increased margin since the outline expands outside the element */
    clip-path: polygon( 
    calc(0% + 5px) calc(0% + 5px), /* top left */
    calc(100% - 5px) calc(0% + 5px), /* top right */
    calc(100% - 5px) calc(100% - 5px), /* bottom right */
    calc(0% + 5px) calc(100% - 5px) /* bottom left */
    );
    transition: clip-path 0.6s linear;
  }
  
  .border-button:hover { 
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    background-position: 0 0, 100% 0, 0 100%, 0 0;
    background-size: 100% 10px, 10px 100%, 100% 10px, 10px 100%;
  }
  @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
  #animate-area {
    width: 200px;
    height: 80vh;
    background-image: url(https://www.spericorn.com/wp-content/themes/spericorn_new/assets/img/banner-bg.jpg);
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 10s linear infinite alternate;
    background-size: cover;
  }
  .custom-login-form {
    background-color: aliceblue;
  }