
.custom-padding-half-tb{
    padding: .2em 0px;
}
.custom-padding-one-tb{
    padding: .5em 0px;
}
.custom-padding-two-tb{
    padding: 1em 0px;
}
.custom-padding-half-lr{
    padding: 0px .2em;
}
.custom-padding-one-lr{
    padding: 0px .5em;
}
.custom-padding-two-lr{
    padding: 0px 1em;
}
.custom-margin-half-tb{
    margin: .2em 0px;
}
.custom-margin-one-tb{
    margin: .5em 0px;
}
.custom-margin-two-tb{
    margin: 1em 0px;
}
.custom-margin-half-lr{
    margin: 0px .2em;
}
.custom-margin-one-lr{
    margin: 0px .5em;
}
.custom-margin-two-lr{
    margin: 0px 1em;
}
.custom-margin-auto {
    margin: auto !important;
    margin-left: 50% !important;
    margin-right: 50% !important;
}
.mat-form-field-infix {
    margin: 25px !important;
}